.kun-cards {
  position: relative;
  padding: 0 24px;
}

@media (min-width: 640px) {
  .kun-cards {
    padding: 0 48px;
  }
}

@media (min-width: 960px) {
  .kun-cards {
    padding: 0 64px;
  }
}

.container {
  margin: 0 auto;
  max-width: 64rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.item {
  padding: 8px;
  width: 100%;
}

@media (min-width: 640px) {
  .item.grid-2,
  .item.grid-4,
  .item.grid-6 {
    width: calc(100% / 2);
  }
}

@media (min-width: 768px) {
  .item.grid-2,
  .item.grid-4 {
    width: calc(100% / 2);
  }

  .item.grid-3,
  .item.grid-6 {
    width: calc(100% / 3);
  }
}

@media (min-width: 960px) {
  .item.grid-4 {
    width: calc(100% / 4);
  }
}
