@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kungalgame-background: #eaf8ff;
  --kungalgame-blue-5: #0969da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --kungalgame-background: 0, 0, 0;
  }
}

body {
  background: var(--kungalgame-background);
}
